body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.front-end
{
    margin-left: auto;
    margin-right: auto;
    
}
.main-div
{
    margin-left: 28%;
}
.main-link
{
    text-decoration: none;
    text-align: left;
}
.contents
{
  margin-left: auto;
  margin-right: auto;
}
.contents table
{
    background-color: rgba(117, 123, 123, 0.314);
    border-radius: 2%;
}
.container
{
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    padding: 20px;
    border-radius: 2%;
}
.con-1
{
}
.content-row
{
    height: 60px;
}
.content-row td
{
    width: 140px;
    text-align: center;
}
button
{
    font-family: 'Poppins', sans-serif;
    height: 40px;
    width: 110px;
    cursor: pointer;
}
select
{
    width: 50px;
    text-align: center;
}
input
{
    display: inline-block;
    width: 95px;
}
.order
{
    text-align: center;
}
.order button
{
    font-weight: 600;
    cursor: pointer;
}